@model LayoutViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" style="width: 260px; max-height: 100px;" asp-area="" asp-controller="Home" asp-action="Index">Sports Hub</a>
                <partial name="_LoginStatusPartial" />
            </div>
        </nav>
    </header>

    <div class="container" style="display: flex;">
        @if (Model.IsAdminMode)
        {
            if (Model.Menu != null)
            {
                <div class="col-4" style="max-width: 260px; text-align: left">
                    <div class="list-group" id="list-tab" role="tablist">
                        @foreach (var item in Model.Menu)
                        {
                            <a class="list-group-item list-group-item-action @(Model.Title == item.Title ? "active" : string.Empty)" asp-controller="Admin" asp-action="@item.Action">@item.Title</a>
                        }
                    </div>
                </div>
            }
        }
        else if (Model.Title != "LogInAccount" && Model.Title != "CreateAccount" && Model.Title != "ForgotPassword" && 
            Model.Title != "ForgotPasswordConfirmation" && Model.Title != "ResetPassword")
        {
            <div class="col-4" style="max-width: 260px; text-align: left">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home">HOME</a>
                    <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="InfoArchitecture">TEAM HUB</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages">LIFESTYLE</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings">DEALBOOK</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings">VIDEO</a>
                </div>
            </div>
        }

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright &copy; 2022 Sports News
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy / Terms</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
