@model LayoutViewModel
@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <form method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Claims.FirstOrDefault(x => x.Type == "First Name").Value @User.Claims.FirstOrDefault(x => x.Type == "Last Name").Value
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header">
                    <p>@User.Claims.FirstOrDefault(x => x.Type == "First Name").Value @User.Claims.FirstOrDefault(x => x.Type == "Last Name").Value</p>
                    <p>@User.Identity.Name</p>
                </h6>
                <a class="dropdown-item" asp-controller="Account" asp-action="PersonalInfo">View profile</a>
                <a class="dropdown-item" href="#">Change Password</a>
                <a class="dropdown-item" href="#">My surveys</a>
                <a class="dropdown-item" href="#">Team hub</a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="submit" asp-controller="Account" asp-action="Logout">Log out</button>
            </div>
        </form>
    </div>
}
else
{
    if (Model.Title == "Create Account")
    {
        <div class="container">
            Already Have an account? <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    }
    else if (Model.Title == "Log in to Sports News")
    {
        <div class="container">
            Don't have an account? <a class="btn btn-outline-success" asp-controller="Account" asp-action="RegisterUser">Get Started</a>
        </div>
    }
    else
    {
        <a class="btn btn-outline-success" asp-controller="Account" asp-action="RegisterUser">Sign Up</a>
        <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Log in</a>
    }
}
