@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <form method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Claims.FirstOrDefault(x => x.Type == "First Name").Value @User.Claims.FirstOrDefault(x => x.Type == "Last Name").Value
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">
                    <p style="font-size:10px;">@User.Claims.FirstOrDefault(x => x.Type == "First Name").Value @User.Claims.FirstOrDefault(x => x.Type == "Last Name").Value</p>
                    <p style="font-size:10px;">@User.Identity.Name</p>
                </div>
                <div class="dropdown-divider"></div>
                <a class="btn btn-link" asp-controller="Account" asp-action="PersonalInfo">View profile</a>
                <a class="dropdown-item" href="#">Change Password</a>
                <a class="dropdown-item" href="#">My surveys</a>
                <a class="dropdown-item" href="#">Team hub</a>
                <div class="dropdown-divider"></div>
                <button type="submit" class="ml-2 btn btn-link">Log out</button>
            </div>
        </form>
    </div>
}
else
{
    <a class="btn btn-link" asp-controller="Account" asp-action="Login">Login</a>
}
