@model IEnumerable<Category>

<div class="col-4" style="max-width: 275px; min-width: 275px; padding-right: unset; text-align: left ">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" asp-controller="@ControllersNames.Home" asp-action="Index">HOME</a>
        @foreach (var item in Model)
        {
            if (item.IsVisible)
            {
                if (item.IsStatic)
                {
                    <a class="list-group-item list-group-item-action" id="list-home-list-@item.Id" asp-controller="@item.Name" asp-action="Index">@item.Name</a>
                }
                else
                {
                    if (item.Subcategories != null && item.Subcategories.Count() != 0)
                    {
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-light" style="text-align: left;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Name</button>
                            <div class="dropdown-menu">
                                @foreach (var subs in item.Subcategories)
                                {
                                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-home-list-@subs.Id">@subs.Name</a>
                                    //<a class="dropdown-item" href="#">@subs.Name</a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="list-group-item list-group-item-action list-group-item-light" id="list-home-list-@item.Id">@item.Name</a>
                    }
                }
            }
        }
    </div>
</div>
