@model LayoutViewModel<InfoArchitectureViewModel>
<div class="modal fade" id="DeleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Are you sure you want to delete "@Model.PageModel.SelectedCategory.Name" category with all subcategories and teams?</label>
                        <input type="hidden" asp-for="PageModel.SelectedCategory.Id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="delete-category-button" asp-controller="@ControllersNames.Admin" asp-action="DeleteCategory">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteSubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteSubCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete subcategory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Are you sure you want to delete "@Model.PageModel.SelectedSubCategory.Name" with all teams?</label>
                        <input type="hidden" asp-for="PageModel.SelectedCategory.Id" />
                        <input type="hidden" asp-for="PageModel.SelectedSubCategory.Id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="delete-subcategory-button" asp-controller="@ControllersNames.Admin" asp-action="DeleteSubCategory">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteTeamModal" tabindex="-1" role="dialog" aria-labelledby="deleteTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Are you sure you want to delete "@Model.PageModel.SelectedTeam.Name" team?</label>
                        <input type="hidden" asp-for="PageModel.SelectedCategory.Id" />
                        <input type="hidden" asp-for="PageModel.SelectedSubCategory.Id" />
                        <input type="hidden" asp-for="PageModel.SelectedTeam.Id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="delete-team-button" asp-controller="@ControllersNames.Admin" asp-action="DeleteTeam">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>